 {% extends "layout.html" %}
{% block title %}
LANDS
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {

 $.get("http://localhost:8000/coll",{}).done(function(data)
    {
        $("#prok").html(data)
    });

});


</script>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- CSS INDEX -->
<link rel="stylesheet" type="text/css" href="{%static 'css/lands.css' %}">
{% comment %} <link rel="stylesheet" type="text/css" href="{%static 'css/home.css' %}"> {% endcomment %}



<style>
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
#he{
    margin-left: 10.4cm; font-weight:bolder; padding-top:2cm; font-size:2cm;
}
#se{
    margin-left: 10.4cm; 
}
</style>

<h1 id="he">LANDS AVAILABLE:</h1>
<a href="/search"><button id="se"  type="submit" style="background-color:red;color:#FFFFFF;"><h1>SPECIFIC ADDRESS SEARCH</h1></button></a>
<a href="/Brokers"><button id="se"  type="submit" style="background-color:red;color:#FFFFFF;"><h1>BROKERS BOOKING<h1></button></a>
{% comment %} <a href="/ownlands"><button id="se"  type="submit" style="background-color:crimson;color:#FFFFFF;">LANDS YOU OWN</button></a> {% endcomment %}
<div class="grid-container" id="prok">

   
</div>
<a href="\buyerloginpage"><button style="background-color:red;color:#FFFFFF;"><h1>Log Out</h1></button></a>
</body>

</html>


{% endblock %}