<html>
    <h1 style=color:red>Land brought page</h1>
    <p>Your order id is {{ono}}</p>
    <hr>
    <table border="2pt" style="font-size:14pt;width:60%;padding:0.02in;margin:0.02in;text-align: center;" >
        <tr>
            <th>Buyer Name</th>
            <th>Broker Name</th>
            <th>Contact broker:</th>
        </tr>
        <tr>
            
            <td>{{Bname}}</td>
            <td>{{Brname}}</td>
            <td>{{Brphone_number}}</td>
        </tr>
    </table>
</html>
