
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

$(document).ready(function() {
    $("#f").submit(function(e)
{
    e.preventDefault();
    console.log("here")

    usrname=$("#usrname").val() 
    psw=$("#psw").val()
    Address=$("#Address").val() 
    phone=$("#phone").val()

    //alert(usmnames","+pw+""+email+""+phone) 
    $.get( "http://localhost:8000/uregB", {usrname:usrname,psw:psw,Address:Address,phone:phone }).done(function(data)
    {
        //alert(data);
        $("body").html(data)
    });
});
});
</script>

{% load static %}
    <title>Signup</title>
    <link rel="stylesheet" href="{%static "CSS/buyersignuppage.css" %}">
</head>
<body>
    <a href="/home"><button id="se"  type="submit" style="background-color:red;color:#FFFFFF;"><h1>ALMS<h1></button></a>
    <div class="signup">
        <h1 class="h1">BUYER</h1>
        <h2 class="h2">Have an account,<a href="\buyerloginpage">Sign In</a></h2>
        
        <form id="f">
        <fa class="fname">Full Name</fa>
        <input class="fname1" placeholder="Buyer Full Name " id="usrname" name="usrname">
        <pa class="pswd">Password</pa>
        <input type="password" class="pswd1" placeholder="**********" id="psw" name="psw">
        <ad class="add">E-mail</ad>
        <input type="address" class="add1" placeholder="______@_____" id="Address" name="Address">
        <ph class="phno">Phone Number</ah>
        <input type="Phonenumber" class="phno1" placeholder="Without +91" id="phone" name="phone">
        
        <button class="button">Sign Up</button>
        </form>
        
    </div>
    <div>
        <img src="{%static "images/bg.png" %}" alt="Background IMAGE" class="img">
    </div>
</body>
</html>